.nav__top{
    background-color: var(--bg-color-asphalt);
    font-size: 14px;

    .breadcrumb__items{
       gap: 10px;
       flex-wrap: wrap;
       line-height: 27px;

       button{
            background-color: var(--bg-color-boyzone);
            color: white;
            border-radius: 5px;

            &:hover{
                background-color: var(--hover-color);
            }

            .nav__top-icon{
               font-size: 20px;
               position: relative;
               top: -2px;
            }
       }

       a{
           color: var(--gray-font);
           font-weight: 400;

           &:hover{
                color: var(--white-font);
                transition: all .50s ease-in-out;
           }
          
           .nav__top-icon{
               position: relative;
               top: -2px;
           }
       }
    }
}