.blogs{
    padding: 90px 0;

    p{
        text-align: justify;
    }
}

@media screen and (max-width: 992px) and (min-width: 578px){
    .blogs{
        padding: 70px 0;
    }
}

@media only screen and (max-width: 576px) {
    .blogs{
        padding: 40px 0;
    }
}