.form{
    background: linear-gradient(90deg, rgba(45,152,218,1) 50%, #fff 50%);

    .form__container{
        padding: 80px 0 100px;

        .main__form{

            .main__form-header {

                h3{
                    color: var(--hover-tarkish);
                }
            }

            form{
                p{
                    margin: 0;
                }
    
                .form-check-input:checked {
                    background-color: var(--hover-tarkish);
                    border-color: var(--hover-tarkish);
                }
    
                button{
                    width: 100%;
                    border-radius: 25px;
    
                    .form__btn-icon{
                        position: relative;
                        top: -2px;
                    }
                }
            }

            .form__detail{

                a{
                    color: var(--bg-color-boyzone);

                    &:hover{
                        color: var(--hover-color);
                    }
                }
            }

            .form__or{

                hr, .or{
                    color: var(--hover-tarkish);
                }
            }
        }
    }
}



@media screen and (max-width: 992px) and (min-width: 578px){
    .form{

        .form__container{
            
            .main__form-header {

                h3{
                    font-size: 20px;
                }
            }

            .form__detail{
                font-size: 12px;
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .form{
        background: linear-gradient(0deg, #FFF 70%, rgba(45,152,218,1) 30%);
    
        .form__container{
            padding: 50px 0 70px;
        }
    }

    .login{
        background: linear-gradient(0deg, #FFF 67%, rgba(45,152,218,1) 33%);
    }

    .reset{
        background: linear-gradient(0deg, #FFF 60%, rgba(45,152,218,1) 40%);
    }
}