.navbar{

    .navbar-brand{
        color: var(--black-font);

        img{

            &:hover{
                transform: rotate(-360deg);
                transition: all 1s ease-in-out;
            }
        }
        
        span{
            font-weight: 600;
            font-size: 24px;
        }
    }

    .navbar-nav{

        .nav-link{
            color: var(--black-font) !important;
            font-size: 18px;
            padding: 0.4rem 1rem;
            font-weight: 400;
            margin-right: 0.8rem;

            &:hover{
                background-color: var(--hover-color);
                color: var(--white-font) !important;
                border-radius: 3px;
            }
        }
    }
}