body{
  font-family: 'Poppins', sans-serif;
}


:root {
  --bg-color-asphalt: #34495e;
  --bg-color-boyzone: #2d98da;

  --hover-color: #00a8ff;
  --hover-tarkish: #006266;

  --black-font: #2f3542;
  --white-font: #f5f6fa;
  --gray-font: #c8d6e5;
  --blue-font: #273c75;

}

ul{
  padding: 0 !important;
  margin:  0 !important;
  list-style: none;
}

a{
  text-decoration: none !important;
}

.border-top-none{
  border-top: 0 !important;
}


.btn-tarkish{
  padding-top: 0.7rem !important;
  padding-bottom: 0.7rem !important;
  letter-spacing: 1px;
  color: var(--white-font) !important;
  text-transform: uppercase;
  background-color: var(--hover-tarkish) !important;
  border: none !important;
}

.btn-tarkish:hover{
  color: var(--black-font) !important;
  border: 1px solid var(--bg-color-asphalt) !important;
  background-color: transparent !important;
  transition: all .3s ease-in-out;
}